$sidebar-background-color: black;
$sidebar-main-font-color: white;
$sidebar-second-font-color: #878787;
$content-font-color: #131313;
$content-background: #eeebe5;
$user-block-color: #202020;
$gold-highlight: #FFC200;
$gray-highlight: #EAEAEA;
$green-highlight: #CEF9C6;
$chat-button-background: #FFF8DD;
$comment-background: #F7F6F3;
$comment-icon-background: #FFF8DD;
$download-background: #E3EFFF;
$error-color: #e93423;
