@import "mixins";

$sidebar-background-color: black;
$sidebar-main-font-color: white;
$sidebar-second-font-color: #878787;
$content-font-color: #131313;
$content-background: #eeebe5;
$user-block-color: #202020;
$gold-highlight: #FFC200;
$gray-highlight: #EAEAEA;
$green-highlight: #CEF9C6;
$chat-button-background: #FFF8DD;
$comment-background:#F7F6F3;
$comment-icon-background: #FFF8DD;
$download-background:#E3EFFF;

@font-face {
  font-family: Helvetica;
  src: url("../fonts/HelveticaRegular.ttf");
}

body {
  margin: 0;
  font-family: Helvetica, Verdana, serif;
  font-size: 16px;
  color: $content-font-color;
  line-height: 1.2em;
}

button {
  outline: none;
  border: none;
  background: transparent;
  font-family: Helvetica, Verdana, serif;
}

.wrap {
  display: flex;
  min-height: 100vh;
}

// Sidebar

.sidebar {
  background-color: $sidebar-background-color;
  color: $sidebar-main-font-color;
  display: flex;
  flex-direction: column;
  min-width: 270px;
}

.logo__name {
  font-weight: bold;
  padding: 30px;

  &:before {
    content: url("../img/logo@3x.svg");
    float: left;
    position: relative;
    left: -13px;
    padding-left: 13px;
  }

  &:after {
    content: url("../img/search@3x.svg");
    position: relative;
    left: 72px;
    top: 2px;
    cursor: pointer;
  }
}

.main-menu-wrap {
  display: flex;
  flex-direction: column;
}

.user {
  background-color: $user-block-color;
  min-height: 80px;
  display: flex;
  align-items: center;

  &:before {
    content: "";
    background: url("../img/user-avatar.jpeg") center center;
    background-size: cover;
    @include square-block(48px);
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 13px;
  }
}

.user__info {
  display: flex;
  flex-direction: column;
}

.user__name {
  font-size: 14px;
}

.user__role, .task__status, .main-menu__name {
  font-size: 12px;
  color: $sidebar-second-font-color;
}

.user__setting-button {
  @extend %dots-button;
  margin-left: auto;
  margin-right: 15px;
}

.dots {
  position: relative;
  @include square-block(4px);
  border-radius: 50%;
  background-color: $sidebar-second-font-color;

  &:before, &:after {
    content: "";
    position: absolute;
    @include square-block(inherit);
    background-color: inherit;
    border-radius: inherit;
  }

  &:before {
    left: -6px;
  }

  &:after {
    left: 6px;
  }
}

.tasks {
  display: flex;
  margin-top: 20px;
}

.completed-tasks {
  margin-left: 30px;
  cursor: pointer;
}

.open-tasks {
  margin-left: 20px;
}

.task__count {
  font-size: 20px;
  padding: 2px 0;
}

.main-menu {
  margin-top: 30px;
  padding-left: 30px;

  ul {
    padding: 0;
    margin: 20px 0;
    font-size: 14px;

    li {
      padding: 10px 0;
      list-style-type: none;

      a {
        text-decoration: none;
        color: $sidebar-main-font-color;
        display: flex;
        align-items: center;
      }
    }
  }
}

.count-highlight {
  @include square-block(20px);
  @extend %flex-center;
  background-color: $gold-highlight;
  color: $content-font-color;
  font-size: 13px;
  border-radius: 50%;
  margin-left: 10px;
}

// Main content

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content__header {
  display: flex;
  flex-direction: column;
}

.content__header-top-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.content__title {
  font-size: 32px;
  margin: 20px 10px 0 83px;
  position: relative;
  display: flex;
  line-height: normal;

  &:before {
    @include icon(40px, -53px, -8px, "../img/shapes@2x.png");
    background: $gold-highlight url("../img/shapes@2x.png") center center no-repeat;
    background-size: cover;
    border-radius: 8px;
  }
}

.content__settings-button {
  @extend %dots-button;
  background-color: $gray-highlight;
  border-radius: 50%;
  margin: 0 10px;
}

.content__header-buttons-block {
  margin: 10px 22px 0 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.share {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 10px;
}

.share__avatar {
  @include square-block(30px);
  padding: 10px 5px;

  &:last-of-type {
    padding-right: 10px;
  }

  img {
    @include square-block(inherit);
    border-radius: 50%;
  }
}

.share__button {
  @include button($gray-highlight);
}

.chat {
  padding: 10px 0;
}

.chat__button {
  @include button($chat-button-background);
  color: $gold-highlight;
  position: relative;
  padding-left: 45px;

  &:before {
    @include icon(18px, 18px, 6px, "../img/combined-shape@1x.svg");
  }
}

.content-menu {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 6px 10px 16px 30px;

    li {
      list-style-type: none;
      padding: 16px 16px 0 0;

      a {
        text-decoration: none;
        color: rgba($content-font-color, 0.7);
        cursor: pointer;

        &.active {
          color: $content-font-color;
          border-bottom: 2px solid $gold-highlight;
          padding-bottom: 17px;
        }
      }
    }
  }
}

.content-wrap {
  @extend %flex-center;
  flex-direction: column;
  background-color: $content-background;
  flex: 1 0 auto;
}

.activity {
  background-color: white;
  padding: 35px 30px;
  margin-top: 15px;
  max-width: 670px;
  border-radius: 8px;
}

.content__date {
  font-size: 14px;
  color: rgba($content-font-color, 0.5);
}

.activity__item {
  display: flex;
  align-items: baseline;
}

.activity__description-block {
  display: flex;
}

.activity__description {
  max-width: 520px;
}

.activity__time {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 14px;
  color: rgba($content-font-color, 0.7);
  min-width: 65px;
}

.done-icon, .comment-icon, .download-icon {
  position: relative;
  margin-right: 20px;
  top: 24px;
}

.done-icon {
  @include circle(40px, $green-highlight);

  &:before {
    @include icon(9px, 15px, 16px, "../img/cheked@3x.svg");
    width: 12px;
  }
}

.comment-icon {
  @include circle(40px, $comment-icon-background);

  &:before {
    @include icon(18px, 12px, 12px, "../img/comment-icon.png");
    background-size: cover;
  }
}

.download-icon {
  @include circle(40px, $download-background);

  &:before {
    @include icon(15px, 13px, 12px, "../img/download-icon.png");
    background-size: cover;
  }
}

.activity__comment {
  padding: 20px 30px;
  margin-bottom: 0;
  background-color: $comment-background;
  border-radius: 10px;
}

.activity__img {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;

    li {
      list-style-type: none;
      padding-top: 10px;
      padding-right: 10px;
      @include square-block(100px);

      img {
        @include square-block(inherit);
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}

@import "media";
